
.calendar {
  flex: 0 3 auto;
  /* min-width: calc(100% * var(--side-min-fraction)); */
  /* max-width: max(calc(100% * (1 - var(--side-min-fraction))), var(--side-max-pixels)); */
}
.calendar-full {
}

.cal-list, .cal-flow, .cal-month, .cal-month-items  {
  display: flex;
  flex-wrap: wrap;
}
.cal-list, .cal-flow, .cal-month { /* ul / li */
  padding: 0;
  margin: 0;
}
.cal-month { /* li */
}
.cal-month-header, .left-tick-header { /* turned rest (white h3 heading bar) into generic... */
}

.cal-item {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  padding: 0 0.0rem;
  width: 100%;
  overflow: auto;
  box-shadow: -1px 2px 5px 2px var(--box-faint-color);
}
.cal-item-meta { /* date */
  float: left;
  margin: 0.8rem 0.4rem 0.4rem 0;
  z-index: -1;
  transform: rotateZ(1deg) translateY(-0.8rem);
  color: var(--fg-1);
  font-size: 1.5em;
}
.cal-item-meta > time { /* date */
  font-size: 1.75em;
  font-weight: 900;
  background: var(--bg-1);
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  z-index: 40;
}

.cal-item-body > * {
  margin: 0.4rem 0.4rem 0.8rem 0.4rem;
}
.cal-item-body h2 {
  font-size: 1.25em;
  padding: 0.2rem 0.8rem 0.6rem;
  margin: 0.4rem 0.4rem 0.8rem 0.8rem;
  text-align: center;
  background: var(--section-bg);
}
.cal-item-body > ul {
  padding-bottom: 1.2rem;
  border-bottom: 3px solid;
}
