/*
 * Peripheral and pseudo styling
 *
 */


@supports(scroll-margin-top: 0px) { /* compensate for our sticky header. */
  .link-anchor { scroll-margin-top: var(--link-offset); } }
@supports not (scroll-margin-top: 0px) {
  .link-anchor::before { /* have to compensate due to our sticky header. */
    display: block;      /* on about section not working was due to overflow: auto clearfix... */
    content: " ";        /* also various safari vs chrome diff in behavior */
    margin-top: calc(-1.0 * var(--link-offset));
    height: calc(1.0 * var(--link-offset));
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}
.float-wrapper { overflow: auto; } /* clearfix */
/* .float-wrapper::after { */
/*   content: ""; */
/*   clear: both; */
/*   display: table; */
/* } */



::selection { /* text selection */
  background-color: var(--myh-yellow);
  color: var(--fg-1);
}

